node_modules
.env
.env.local
.env.development
.env.production
.env.test


# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs

